# {{ ansible_managed }}

[{{ pgbackrest.stanza }}]
pg1-path=/var/lib/postgresql/{{ db.version }}/{{ db.cluster_name }}

[global]
repo1-type=s3
repo1-s3-endpoint=s3.amazonaws.com
repo1-s3-bucket=postgres-pitr
repo1-path=/
repo1-s3-key={{ lookup('env', 'S3_ACCESS_KEY') }}
repo1-s3-key-secret={{ lookup('env', 'S3_SECRET_KEY') }}
repo1-s3-region=eu-central-1
repo1-retention-full=2
repo1-retention-diff=2
repo1-cipher-type=none
start-fast=y
stop-auto=y
process-max=4

[global:archive-push]
compress-level=3
