# {{ ansible_managed }}

export PGHOST="/var/run/postgresql"
export AWS_ACCESS_KEY_ID="{{ minio.access_key }}"
export AWS_SECRET_ACCESS_KEY="{{ minio.secret_key }}"
export WALG_S3_PREFIX="s3://{{ wal_g.s3_bucket }}/{{ wal_g.s3_path }}"
export AWS_ENDPOINT="http://{{ minio.host }}"
export AWS_S3_FORCE_PATH_STYLE="true"
export AWS_REGION="us-east-1"
export WALG_COMPRESSION_METHOD=brotli
